<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bus Details</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Bus Details</h1>
        <div class="card">
            <div class="card-body">
                <p class="card-text"><strong>Service Provider:</strong> <span th:text="${bus.serviceProvider}">Provider</span></p>
                <p class="card-text"><strong>Service Number:</strong> <span th:text="${bus.serviceNumber}">Number</span></p>
                <p class="card-text"><strong>Registration Number:</strong> <span th:text="${bus.registrationNumber}">Reg Number</span></p>
                <p class="card-text"><strong>Capacity:</strong> <span th:text="${bus.capacity}">Capacity</span></p>
				<p class="card-text"><strong>Orgin:</strong> <span th:text="${bus.origin}">Orgin</span></p>
				<p class="card-text"><strong>Destination:</strong> <span th:text="${bus.destination}">Destination</span></p>
				<a th:href="@{/buses}" class="btn btn-primary">Back to Bus List</a>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
